# Environments
.env
.env*.
credentials.yaml

# IDEs and editors
.idea/
.vscode/
*.swp

# Hidden directories
.*/

# Python
__pycache__/
*.pyc
venv/
myfirstproject/
.DS_Store # only if not already listed
